* {
    width:100%
    height: 100%;
    background:linear-gradient(
        115deg,
        rgba(58, 58, 158, 0.8),
        rgba(136, 136, 206, 0.7)
      ), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg); 
}
  #box {
     background-image: linear-gradient(
        115deg,
        rgba(58, 58, 158, 0.8),
        rgba(136, 136, 206, 0.7)
      ), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg); 
    background-repeat: no repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: white;
    width: 100%;
    margin: 3.125rem auto 0 auto;
   
  }
  @media (min-width: 576px) {
    #box {
      max-width: 540px;
    }
  }
  
  @media (min-width: 762px) {
    #box {
      max-width: 750px;
    }
  }
  
  #title{
    text-align: center;
    position: relative;
    top: 15px;
  }
  #description {
    text-align: center;
    font-style: italic;
  }
  #survey-form {
    background-color: #0f0f3e;
     width: 45%;
    border: 1px;
    padding: 50px;
    margin: auto;
    border-radius: 5px;
  }
  #name, #email, #age, #dropdown {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid white;
  }
  #input-comments {
     width: 100%;
    height: 100px;
    border: 1px solid white;  
  }
  #submit {
    width: 100%;
    height: 45px;
    border: 1px;
    border-radius: 2px;
    margin-top: 30px;
    background-color: #009933;
    cursor: pointer;
  }
   .input-radio, .input-checkbox {
  display: inline-block;
    margin-right: 10px;
    height: 18px;
    width: 18px;
  } 