body {
  background: url("../survey-form/images/surveypeople.jpeg");
}
#box {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: beige;
  margin: 3.125rem auto 0 auto;
}

#title {
  font-size: 25px;
  text-align: center;
  position: relative;
  top: 15px;
  color: #0f0f3e;
}

#description {
  text-align: center;
  font-style: italic;
  color: #0f0f3e;
}

input {
  outline: none;
}

form {
  background-color: #0f0f3e;
  width: 45%;
  border: 1px;
  padding: 50px;
  margin: auto;
  border-radius: 5px;
}

#name,
#email,
#age,
#dropdown {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid white;
}

#input-comments {
  width: 100%;
  height: 100px;
  border: 1px solid white;
}

#submit {
  width: 100%;
  height: 45px;
  border: 1px;
  border-radius: 2px;
  margin-top: 30px;
  background-color: #009933;
  cursor: pointer;
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 10px;
  height: 18px;
  width: 18px;
}
